.main {
    width: min-content;
    margin: 0 auto;
    border: 2px solid black;
}

img.qr-code {
    width: 300px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
